.new-note-button {
  margin: 20px 20px 0 20px;
}

#notes-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.note {
  box-sizing: border-box;
  width: 20%;
  height: 230px;
  margin: 2.5%;
  background-color: #fdffaa;
  border: 1px solid black;
  padding: 0 10px;
  position: relative;
}

.x-button {
  position: absolute;
  left: 192px;
  top: 5px;
  z-index: 1;
}

p {
  float: left;
}
