body {
  background-image: url('backgrounds/brooke-lark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body, html {
  height: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
  margin: 20px 0 0 20px;
}

.new-note-button {
  margin: 0 30px 0 0;
  width: 40px;
  height: 40px;
  background-color: #a0ffdd;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#notes-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.note {
  box-sizing: border-box;
  width: 21%;
  height: 230px;
  margin: 2%;
  background-color: #a0ffdd;
  border: 1px solid #DFE0E4;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: background-color 2s;
}

button {
  cursor: pointer;
}

span {
  width: 90%;
  margin: 2px 4%;
  cursor: pointer;
  height: 85%;
  display: block;
  overflow: auto;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.button-holder {
  float: right;
  margin: 2px;
}

.x-button {
  float: right;
}

.choose-yellow {
  background-color: #fdffaa;
}

.choose-green {
  background-color: #a0ffdd;
}

.choose-pink {
  background-color: #fddbff;
}

.choose-blue {
  background-color: #b5dbff;
}

.choose-purple {
  background-color: #e4b7ff;
}

.color-picker {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 0 3px;
}

.choose-yellow:hover {
  background-color: #FCFF79;
}

.choose-green:hover {
  background-color: #71FFCD;
}

.choose-pink:hover {
  background-color: #F9A1FF;
}

.choose-blue:hover {
  background-color: #87C4FF;
}

.choose-purple:hover {
  background-color: #D388FF;
}

.color-picker:hover {
  transition: background-color .25s;
}

@media (max-width: 900px) {
  .note {
    width: 46%;
    margin: 2%;
  }

  .x-button {
    left: 93%;
  }
}

@media (max-width: 800px) {
  .x-button {
    left: 90%;
  }
}

@media (max-width: 600px) {
  .note {
    width: 95%;
    margin: 2.5%;
  }

  .x-button {

  }
}
